# Install torch/torchvision for your CUDA version before this file if needed.
gsplat
torchmetrics[image]
imageio[ffmpeg]
numpy<2.0.0
opencv-python
Pillow
tqdm
tyro>=0.8.8
pyyaml
matplotlib
scikit-image
scikit-learn
tensorboard
tensorly
easydict
omegaconf
einops
lpips
jaxtyping
piq
scipy
viser
nerfview==0.0.2

peft==0.9.0
diffusers==0.25.1
huggingface-hub==0.25.1
transformers==4.38.0

git+https://github.com/rahul-goel/fused-ssim@1272e21a282342e89537159e4bad508b19b34157
